*{
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    color: #666;
    background-color: #000000;
}
.sisi {
    background: #a6a357;
    overflow: hidden;
    text-align: right;
}

.sisi>ul {
    list-style: none;
}

.sisi>ul li {
    float: left;
}

.sisi>ul li a {
    padding: 8px 80px 8px 80px;
    display: block;
    color: #000000;
    text-decoration: none;
    text-align: right;
}

.sisi>ul li a:hover {
    background: #000000;
 color: #cbd2d8;
}
li {
    list-style-image: url;
    line-height: 1.6em;

}

table {
    border-spacing: 0px;
}

th,
td {
    padding: 5px 30px 5px 10px;
    border-spacing: 0px;
    font-size: 90%;
    text-align: left;
    background-color: #0a3980;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #cbd2d8;
    margin: 0px;
}
th.head th {
    color: #b71d1d;
    background-color: #0b4a85;
    border-bottom: 20px solid #547ca0;
    border-right: 1px solid #0e304f;
    text-align: center;
    text-shadow:  -1px -1px 1px #666666;
    letter-spacing: 0.15em;
}

td{text-shadow: 1px 1px 1px #9e2424;}

tr.even td, tr.even th{
    background-color: #054175;
} 
tr.even th:first-child{
    -webkit-border-top-left-radius:5px ;
    -moz-border-radius-topleft:5px ;
    border-top-left-radius:5px ;
}

tr.even th:last-child{ -webkit-border-top-left-radius:5px ;
    -moz-border-radius-topleft:5px ;
    border-top-left-radius:5px ;
}
fieldset{
    width: 310px;
    margin-top: 20px;
    border: 1pxsolid #000000;
    background-color: #000000;
    line-height: 1,6em;
}

legend{
    font-style: italic;
    color: #ffffff;
}
input:focus, input :hover{
    background-color: #ffffff;
    border: 1px solid#06723c;
}

input{
    order: 1px solid#0d1ca5;
    background-color: #054782;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}
input:hover{
    border: 1px solid rgb(57, 9, 153);
    background-color: #ffffff;
color: #000000;
cursor: pointer;
}

.title{
    float: left;
    width: 160px;
    clear: left;
}

.submit{
    width: 310px;
    text-align: right           ;
}


footer {
    background: #353333;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;

}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 3px solid #fff;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid rgb(218, 218, 218);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #fff;

}
