* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


index.html {
    font-family: serif;
    font-size: 16px;
    line-height: 1.5;
}

nav {
    background: rgb(34, 47, 130);
    overflow: hidden;
    text-align: right;
}

nav>ul {
    list-style: none;
}

nav>ul li {
    float: left;
}

nav>ul li a {
    padding: 8px 100px 8px 70px;
    display: block;
    color: #ffffff;
    text-decoration: none;
    text-align: right;
}
tr a{
    text-decoration: none;
    color: #2d6898a5;
}
tr a:hover{
    color: #c6c6c6;
}
nav>ul li a:hover {
    background: #2d6898a5;
}



.forsee {
    background: #353333;
}

.cocolor {
    width: 100%;
    height: 600px;
    background: rgb(181, 99, 12);
}

header {
    width: 100%;
    height: 300px;
    background: rgb(20, 31, 103);

}

.index_titul h1 {
    font-size: 60px;
    color: rgb(0, 0, 0);
}

.index_titul h3 {
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.conteiner_caracter{
    background-color: #353333;
    color: #588ac2  ;
}

footer {
    background: #000000;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;

}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 3px solid #fff;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid rgb(218, 218, 218);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #fff;

}
